<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>

<footer id="general-footer" th:fragment="footer-yellow">
    <div >
        <nav class="uk-container" uk-navbar>

            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" ><img th:src="@{/img/bicoscomdarkbg.png}"></a>
            </div>

            <div class="uk-navbar-center">
                <span><span class="icons">whatshot</span> Feito na base do ódio <span class="icons">whatshot</span></span>
            </div>

            <div class="uk-navbar-right">

                <ul class="uk-navbar-nav">
                    <li class="uk-margin-left">
                        <span uk-icon="icon: facebook"></span>
                    </li>
                    <li  class="uk-margin-left">
                        <span uk-icon="icon: instagram"></span>
                    </li>
                    <li  class="uk-margin-left">
                        <span uk-icon="icon: twitter"></span>
                    </li>
                </ul>

            </div>
        </nav>
    </div>

</footer>

</body>
</html>