<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<header class="navigation-bar" th:fragment="header-logged">
    <div class="uk-visible@l">
        <nav class="uk-container" uk-navbar>

            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" th:href="@{/}"><img th:src="@{/img/bicoscom.png}"></a>
            </div>

            <div class="uk-navbar-center">
                <form class="uk-search uk-search-default" th:action="search">
                    <span uk-search-icon></span>
                    <input class="uk-search-input" type="search" placeholder="Search">
                </form>
            </div>

            <div class="uk-navbar-right">

                <ul class="uk-navbar-nav">
                    <li>
                        <a th:href="@{/events}"> Meus Bicos </a>
                    </li>
                    <li>
                        <a th:href="@{/create}"> Criar Bico </a>
                    </li>
                    <li>
                        <a onclick="logout()" class="uk-button uk-button-primary-outline">Logout</a>
                    </li>
                </ul>

            </div>
        </nav>
    </div>
    <div class="uk-hidden@l">
        <nav class="uk-navbar uk-navbar-container uk-margin">
            <div class="uk-navbar-left">
                <a class="uk-navbar-toggle" href="#offcanvas-slide" uk-toggle>
                    <span uk-navbar-toggle-icon></span>
                </a>
            </div>
            <div class="uk-navbar-center">
                <a class="uk-navbar-item uk-logo" ><img th:src="@{/img/bicoscom.png}"></a>
            </div>
        </nav>
        <div id="offcanvas-slide" uk-offcanvas>
            <div class="uk-offcanvas-bar">

                <ul class="uk-nav uk-nav-default">
                    <li class="uk-active"><a href="#">Active</a></li>
                    <li><a href="#">Item</a></li>
                    <li class="uk-nav-header">Header</li>
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Item</a></li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="#">Item</a></li>
                </ul>

            </div>
        </div>
    </div>
</header>

<header th:fragment="header-notlogged" >
    <nav class="uk-container" uk-navbar>

        <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo" ><img th:src="@{/img/bicoscom.png}"></a>
        </div>

        <div class="uk-navbar-center">

        </div>

        <div class="uk-navbar-right">

            <ul class="uk-navbar-nav">
                <li>
                    <a href="#"> Sobre </a>
                </li>
                <li>
                    <a href="#"> Para Empresas </a>
                </li>
                <li>
                    <a href="#"> Para Profissionais </a>
                </li>
                <li>
                    <a class="uk-button uk-button-primary-outline " th:href="@{/login}">Entrar</a>
                </li>
                <li>
                    <a class="uk-button uk-button-primary" th:href="@{/register}">Registrar</a>
                </li>
            </ul>

        </div>
    </nav>
</header>
</body>
</html>