<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Bicos - Home</title>
    <link rel="stylesheet" th:href="@{/css/uikit.min.css}" />
    <link rel="stylesheet" th:href="@{/css/custom.css}" />
</head>
<body>

    <header>
        <div class="uk-visible@l">
            <nav class="uk-container" uk-navbar>

                <div class="uk-navbar-left">
                    <a class="uk-navbar-item uk-logo" ><img th:src="@{/img/bicoscom.png}"></a>
                </div>

                <div class="uk-navbar-center">
                    <form class="uk-search uk-search-default">
                        <span uk-search-icon></span>
                        <input class="uk-search-input" type="search" placeholder="">
                    </form>
                </div>

                <div class="uk-navbar-right">

                    <ul class="uk-navbar-nav">
                        <li>
                            <a th:href="@{/events}"> Meus Bicos </a>
                        </li>
                        <li>
                            <a th:href="@{/create}"> Criar Bico </a>
                        </li>
                        <li>
                            <a onclick="logout()" class="uk-button uk-button-primary-outline">Logout</a>
                        </li>
                    </ul>

                </div>
            </nav>
        </div>
        <div class="uk-hidden@l">
            <nav class="uk-navbar uk-navbar-container uk-margin">
                <div class="uk-navbar-left">
                    <a class="uk-navbar-toggle" href="#offcanvas-slide" uk-toggle>
                        <span uk-navbar-toggle-icon></span>
                    </a>
                </div>
                <div class="uk-navbar-center">
                    <a class="uk-navbar-item uk-logo" ><img th:src="@{/img/bicoscom.png}"></a>
                </div>
            </nav>
            <div id="offcanvas-slide" uk-offcanvas>
                <div class="uk-offcanvas-bar">

                    <ul class="uk-nav uk-nav-default">
                        <li class="uk-active"><a href="#">Active</a></li>
                        <li><a href="#">Item</a></li>
                        <li class="uk-nav-header">Header</li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="#">Item</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </header>


    <section id="user-info" class="uk-container">
        <div class="uk-card uk-card-default uk-grid-collapse uk-margin  " uk-grid>
            <div class="uk-card-media-left uk-margin uk-margin-left user-pic-container">
                <img th:src="${currentUser.imageURL}" alt="" class="uk-border-circle user-big-pic">
            </div>
            <div class="uk-width-2-3 uk-margin-right">
                <div class="uk-card-body">
                    <h1>Olá <span class="yellow" th:text="${currentUser.name}"></span></h1>
                    <div class="status">
                        <progress class="uk-progress" th:value="${currentUser.helpfulnessRating}" max="100"></progress>
                        <div class="status-label">
                            <span>
                                <img th:src="@{/img/handshake.svg}" class="feature-icons"/>
                            </span>
                            <span>
                                <span th:text="${currentUser.helpfulnessRating}" class="blue"></span>
                                pontos de Prestatividade
                            </span>
                        </div>
                    </div>
                    <div>
                        <progress class="uk-progress" th:value="${currentUser.punctualityRating}" max="100"></progress>
                        <div class="status-label">
                            <span>
                                <img th:src="@{/img/clock.svg}" class="feature-icons"/>
                            </span>
                            <span>
                                <span th:text="${currentUser.helpfulnessRating}" class="blue"></span>
                                pontos de Pontualidade
                            </span>
                        </div>
                    </div>
                    <div>
                        <progress class="uk-progress" th:value="${currentUser.sympathyRating}" max="100"></progress>
                        <div class="status-label">
                            <span>
                                <img th:src="@{/img/laugh.svg}" class="feature-icons"/>
                            </span>
                            <span>
                                <span th:text="${currentUser.helpfulnessRating}" class="blue"></span>
                                pontos de Simpatia
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <form id="logoutForm" method="POST" th:action="@{/logout}">

    </form>
    <script>
        const logout = () => {document.getElementById("logoutForm").submit()}
    </script>
    <script th:src="@{/js/uikit.min.js}"></script>
    <script th:src="@{/js/uikit-icons.min.js}"></script>
    <script>

        UIkit.util.ready(function () {

            var bar = document.getElementById('js-progressbar');

            var animate = setInterval(function () {

                bar.value += 10;

                if (bar.value >= bar.max) {
                    clearInterval(animate);
                }

            }, 1000);

        });

    </script>
</body>
</html>