<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Bicos - Home</title>
    <link rel="stylesheet" th:href="@{/css/uikit.min.css}" />
    <link rel="stylesheet" th:href="@{/css/custom.css}" />
</head>
<body>
    <div th:replace="~{fragments/header :: header-logged}"></div>

    <section id="user-info" class="uk-container">
        <div class="uk-card uk-card-default uk-grid-collapse uk-margin  " uk-grid>
            <div class="uk-card-media-left uk-margin uk-margin-left user-pic-container">
                <img th:src="${currentUser.imageURL}" alt="" class="uk-border-circle user-big-pic">
            </div>
            <div class="uk-width-2-3 uk-margin-right">
                <div class="uk-card-body">
                    <h1>Olá <span class="yellow" th:text="${currentUser.name}"></span></h1>

                    <div class="status-main">

                        <div class="status-container">
                            <div>
                                <img th:src="@{/img/handshake.svg}" class="status-icon"/>
                            </div>
                            <div class="status-items">
                                <progress class="uk-progress" th:value="${currentUser.helpfulnessRating}" max="100"></progress>
                                <h6>
                                    <span th:text="${currentUser.helpfulnessRating}" class="blue"></span>
                                    pontos de  <span class="blue">Prestatividade</span>
                                </h6>
                            </div>
                        </div>

                        <div class="status-container">
                            <div>
                                <img th:src="@{/img/clock.svg}" class="status-icon"/>
                            </div>
                            <div class="status-items">
                                <progress class="uk-progress" th:value="${currentUser.punctualityRating}" max="100"></progress>
                                <h6>
                                    <span th:text="${currentUser.helpfulnessRating}" class="blue"></span>
                                    pontos de <span class="blue">Pontualidade</span>
                                </h6>
                            </div>
                        </div>

                        <div class="status-container">
                            <div>
                                <img th:src="@{/img/laugh.svg}" class="status-icon"/>
                            </div>
                            <div class="status-items">
                                <progress class="uk-progress" th:value="${currentUser.sympathyRating}" max="100"></progress>
                                <h6>
                                    <span th:text="${currentUser.sympathyRating}" class="blue"></span>
                                    pontos de  <span class="blue">Simpatia</span>
                                </h6>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>


    <div th:replace="~{fragments/footer :: footer-yellow}"></div>
    <form id="logoutForm" method="POST" th:action="@{/logout}">

    </form>
    <script>
        const logout = () => {document.getElementById("logoutForm").submit()}
    </script>
    <script th:src="@{/js/uikit.min.js}"></script>
    <script th:src="@{/js/uikit-icons.min.js}"></script>
    <script>

        UIkit.util.ready(function () {

            var bar = document.getElementById('js-progressbar');

            var animate = setInterval(function () {

                bar.value += 10;

                if (bar.value >= bar.max) {
                    clearInterval(animate);
                }

            }, 1000);

        });

    </script>
</body>
</html>